.carousel_button {
  position: absolute;
}

.carousel_button_container {
  position: absolute;
  top: 0;
  margin: auto;
  bottom: 0;
  height: 100%;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel_button_right {
  right: 0px;
}

.carousel__slider--horizontal {
  width: 100%;
}

.carousel__back-button {
  background-color: transparent;
  border: none;
}

.carousel__next-button {
  background-color: transparent;
  border: none;
}

.carousel {
  width: auto !important;
}
