.modal-content {
  border: none;
}

.modal-dialog {
  margin-top: 10% !important;
}

.top_left_product_modal {
  position: absolute;
  top: -10px;
  left: -10px;
}

.top_right_product_modal {
  position: absolute;
  top: -5px;
  right: -2px;
  z-index: 1;
  border-radius: 15px;
}

.react-autosuggest__input {
  width: 100%;
  border-radius: 10px;
  // margin-bottom: 30px;
  height: 34px;
  border: 1px solid #ced4da;
  padding-left: 15px;
  padding-right: 15px;
}

.react-autosuggest__container {
  width: 100%;
}

.react-autosuggest__suggestion {
  list-style: none;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 15px;
  cursor: default;
}
.react-autosuggest__suggestions-container {
  max-height: 300px;
  overflow: scroll;
  border-radius: 10px;
  box-shadow: -1px 0px 8px 10px rgba(249, 248, 248, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
}

.react-autosuggest__suggestions-list {
  padding-left: 0px;
  margin-bottom: 0px;
}

.modalClose {
  position: absolute;
  top: 7px;
  right: 10px;
  cursor: pointer;
  padding: 5px;
  z-index: 2;
}

.closeIconSize {
  font-size: 20px !important;
  cursor: pointer;
}
