.navbarmaster {
  background-color: #000;
  height: 50px;
  padding-left: 30px;
  padding-right: 30px;
  justify-content: space-between !important;
}

.amqlogo {
  height: 20px;
  width: auto;
}

.amqlogo_sidebar {
  height: 20px;
  width: auto;
}

.username {
  text-transform: capitalize;
}
