.productcarousel_image {
  max-height: 200px;
  width: auto;
}

.top_right_productmodal {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 10px;
  border-radius: 10px;
  color: white;
  z-index: 1;
}

.top_left_productmodal {
  position: absolute;
  top: 15px;
  left: 20px;
  font-size: 10px;
  border-radius: 10px;
  z-index: 1;
}

.tick_modal_dimensions {
  height: 12px;
  width: 12px;
}
