.ui.star.rating .active.icon {
  background: 0 0 !important;
  color: black !important;
  text-shadow: white !important;
}

.ui.star.rating .icon.selected {
  color: black !important;
  text-shadow: white !important;
  background: 0 0 !important;
}

.ui.star.rating .icon.selected.active {
  color: black !important;
  text-shadow: white !important;
  background: 0 0 !important;
}
