//
// variables.scss
//

// Color

$white: #ffffff;
$primary: black;
$grey: #e0e0e0;
$harry: orange;

$icarrlightgrey: #aeb0b2;
$icarrdarkgrey: #2b2a28;
$icarrmediumgrey: #b5b5b5;
$icarrblue: #0078ff;
$icarrred: #d50e0e;

// padding

$padding-xlarge: 70px;
$padding-large: 50px;
$padding-medium: 20px;
$padding-small: 15px;
$padding-verysmall: 5px;

// margin

$margin-xlarge: 80px;
$margin-large: 50px;
$margin-medium: 30px;
$margin-small: 15px;
$margin-verysmall: 5px;

// font

$font-verylarge: 30px;
$font-large: 12px;
$font-medium: 10px;
$font-small: 5px;

// shadow

$radius-large: 10px;
$radius-small: 8px;
